@import './../abstracts/_colors';

form {
  .form-group {
    .form-label {
      display: block;
      font-weight: bold;
      margin-left: 10px;
      margin-bottom: 4px;
    }
    .form-input {
      margin-top: 8px;
      background: $grey-dark;
      padding: 10px 16px;
      border: none;
      border-radius: 20px;
      outline: none;
    }
  }
}
